<header>
    <div class="w-full bg-cover bg-center"
        style="height:32rem; background-image: url(../../../assets/img/banner-anime.jpg);">
        <div class="flex items-center justify-center h-full w-full bg-neutral-800] bg-opacity-50 rounded-lg">
            <div class="text-center bg-gray-50 bg-opacity-80 p-2 desc-box ">
                <h1 class="text-black text-2xl  uppercase md:text-3xl font-serif">Manga Scrapper </h1>
                <br />
                <span class="text-black font-normal font-serif text-xl">Welcome to our Manga Scrapper database! Here,
                    you'll find
                    information
                    about a wide variety of manga from
                    different providers. Whether you're a seasoned manga reader or just starting out, our database has
                    something for you. From action-packed shonen manga to heartwarming shojo manga, our collection has
                    it all. Browse by provider or genre to find your next favorite manga. We update our database
                    regularly, so be sure to check back often for the latest releases. Happy reading!</span>
            </div>
        </div>
    </div>
</header>