<section class="mb-11">
    <div *ngIf="loading$ | async" class="text-center">
        <app-loading></app-loading>
    </div>
    <button (click)="back()"
        class="inline-flex items-center px-4 py-2 bg-[#7d75f8] hover:bg-indigo-600 text-white text-sm font-medium rounded-md">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
        </svg>

        Back
    </button>
    <div class="flex flex-row  justify-center items-center">
        <div
            class="grid grid-cols-1 xl:grid-cols-8 lg:grid-cols-6 md:grid-cols-6 sm:grid-cols-4 m-2  gap-4 content-center">
            <div *ngFor="let item of mangas$ | async" class="block max-w-[22rem] rounded-lg cards bg-white shadow-xl">
                <img class="rounded-t-lg w-full text-center" [src]="item.coverURL" alt="{{item.title}}" />
                <div class="p-6">
                    <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 line-clamp-1 ">
                        {{item.title}}
                    </h5>
                    <span class="mb-4 text-base text-neutral-600  line-clamp-3">
                        {{item.synopsis}}
                    </span>
                    <div class="text-end">
                        <button type="button" class="bg-none mt-6 mb-0 text-[#7d75f8] font-semibold" data-te-ripple-init
                            data-te-ripple-color="light" (click)="navigateTOChapter(item.slug, item.coverURL)">
                            See more
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>