.cardBackground {
    background-image: url('../../../../../assets/img/manga2.jpg');
    background-repeat: no-repat;
    background-blend-mode: multiply;
    height: 8rem;
    background-attachment: fixed;
}